<div 
    [class.gameOn]="gameOn()"
    class="board"
    (mouseleave)="mouseHoverCellIndex.set(-1)"
>

    @if ( ! gameOn() ) {
        <ng-content ></ng-content>
    } @else { 
        @for (item of ( board() ?? []); track $index) {
            <div 
                class="cell"
                [class.is-on-hover]="mouseHoverCellIndex() == $index"
                (mouseenter)="mouseHoverCellIndex.set($index)"
                (click)="cellClick(item , $index)"
            >
            @if ( mouseHoverCellIndex() == $index ) {
                <div 
                    class="piece--{{selectedPieceStr()}} piece hover-preview "
                    [style.backgroundColor]=" currentPlayer()?.color "
                > {{selectedPieceStr()}} </div>
            }
            @if (item.length > 0) {
                <div 
                    class="piece--{{item[0].pieceStr }} piece"
                    [style.backgroundColor]=" playersColorsById()[item[0].playerId] "
                > {{selectedPieceStr()}} </div>
            }
            </div>
        }
    }
</div>