<div 
    [class.gameOn]="gameOn()"
    class="board"
    (mouseleave)="mouseHoverCellIndex.set(-1)"
>

    @if ( ! gameOn() ) {
        <ng-content ></ng-content>
    } @else { 
        @for (item of ( board() ?? []); track $index) {
            <div 
                class="cell"
                [class.is-on-hover]="mouseHoverCellIndex() == $index"
                (mouseenter)="mouseHoverCellIndex.set($index)"
                (click)="cellClick(item , $index)"
            >
            @if ( mouseHoverCellIndex() == $index ) {
                <div class="piece"> {{selectedPieceStr()}} </div>
            }
            </div>
        }
    }
</div>