.container {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}

.container > * {

    min-height: 50%;

    border: 2px #ddd solid;

}