<div class="container">
  <app-player-panel
    [player]="p1()"
    [thisPlayerTurn]="currentTurnPlayer()?.id === p1()?.id && p1() !== null"
    [(selectedPieceIndex)]="p1SelectedPieceIndex"
  />
  <app-game-board
    [gameOn]="game() !== null "
    [board]="game()?.board ?? null"
    [currentPlayer]="currentTurnPlayer()"
    [selectedPieceStr]="currentPlayerSelectedPiece()[0]"
    (onCellClick)="putPieceOnCell($event)"
    [playersColorsById]="colorsById()"
  >
    <button
      (click)="startGame()"
    >Start</button>
  </app-game-board>
  <app-player-panel 
    [player]="p2()"
    [(selectedPieceIndex)]="p2SelectedPieceIndex"
    [thisPlayerTurn]="currentTurnPlayer()?.id === p2()?.id  && p2() !== null"
  />
</div>
