<div 
    class="container"
    [class.myTurn]="thisPlayerTurn()"
    [style.outlineColor]="player()?.color ?? 'white' "
    (click)="log()"
>
    <p>{{ player()?.id ?? '---' }}</p>

    <div class="pieces-container">
        @for (piece of this.player()?.piecesInventory ?? []; track $index) {
            <div
                [class.selected]="selectedPieceIndex() === $index"
                (click)="selectedPieceIndex.set($index)"
                [style.borderColor]=" player()?.color ?? 'white' " 
                class="piece piece--{{piece}}"> 
                    {{piece + 1}}
                </div>
        }
    </div>
</div>

